NODE_ENV=development
PORT=3000
API_PREFIX=api/v1

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=admin123
DB_NAME=opd_db
TYPEORM_SYNCHRONIZE=true

DATABASE_URL=
DB_SSL=false
DB_SSL_REJECT_UNAUTHORIZED=true

JWT_SECRET=replace_this_with_a_long_random_secret_key
JWT_EXPIRES_IN=1d
